{% extends 'base.html.twig' %}

{% block title %}Přidat odpovědi{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h1 class="text-center mb-3">Přidat odpovědi</h1>
                        <h5 class="text-muted text-center mb-4">„{{ question.question }}“</h5>

                        {{ form_start(form) }}

                        <div class="mb-3">
                            {% for child in form %}
                                {% if child.vars.name != 'save' and child.vars.name != 'limit' %}
                                    <div class="mb-3">
                                        {{ form_row(child) }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        {{ form_row(form.limit) }}



                        <div class="text-center mt-4">
                            <a href="{{ path('add_answers', { quizId: quizId, questionId: question.id, answers: answers }) }}"
                               class="btn btn-outline-secondary mb-3">
                                ➕ Přidat další odpověď
                            </a>

                            <div class="d-grid col-6 mx-auto">
                                {{ form_row(form.save) }}
                            </div>
                        </div>
                        {{ form_end(form, { render_rest: false }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
