{% extends 'base.html.twig' %}

{% block title %}Quiz App{% endblock %}

{% block body %}
    <div class="container mt-4" style="max-width: 800px;">
        <a href="{{ path('yourQuizzes') }}" class="btn btn-primary btn-sm">← Zpět na Tvé Kvízy</a>
    </div>

    <div class="container mt-4" style="max-width: 800px;">
        <div class="card shadow-sm">
            <div class="card-body">
                {{ form_start(form) }}

                {% for question in questionsData %}
                    <div class="mb-4">
                        <h5 class="text-dark">{{ question.question }}</h5>
                        <div class="d-flex flex-column">
                            {% for answer in question.answers %}
                                <div class="form-check">
                                    {% if question.inputType.value == "checkbox" %}
                                        <input type="checkbox" class="form-check-input" name="{{ answer.answer }}" value="{{ answer.answer }}" id="{{ answer.answer }}">
                                        <label class="form-check-label" for="{{ answer.answer }}">{{ answer.answer }}</label>
                                    {% else %}
                                        <input type="radio" class="form-check-input" name="{{ question.question }}" value="{{ answer.answer }}" id="{{ answer.answer }}">
                                        <label class="form-check-label" for="{{ answer.answer }}">{{ answer.answer }}</label>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Odeslat</button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}